<!DOCTYPE html>
<html lang="en">

<head>
  <title>Europeana Search</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Sharp" rel="stylesheet">
  <link rel="stylesheet" href="styles/bulma.css">
  <link rel="stylesheet" href="styles/index.css">
  </style>
</head>

<body>

  <section class="hero is-fullheight is-dark">
    <div class="hero-body is-infront">
      <div class="container has-text-centered">
        <form action="/" method="POST">

          <h1 class="title is-1">Europeana Search</h1>

          <p class="control has-icons-left">
            <input class="input" type="search" name="search" placeholder="Search culture">
            <button class="button is-link" type="submit">Search</button>
            <span class="icon is-left">
              <i class="material-icons-sharp">search</i>
            </span>
        </p>
        </form>
      </div>
    </div>
  </section>

</body>

</html>