<!DOCTYPE html>
<html lang="en">
<head>
<title>Page Title</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="styles/bulma.css">
<link rel="stylesheet" href="styles/index.css">
</style>
</head>
<body>

  <section class="hero is-fullheight is-primary">
    <div class="hero-body is-infront">
      <div class="container has-text-centered">
          <div class="field">
            <h1 class="title is-1">Europeana Search</h1>
            <div class="control">
              <input class="input" type="search" placeholder="Search culture">
            </div>
          </div>
          <button class="button is-link" type="submit">Search</button>
      </div>
    </div>
  </section>

</body>
</html>